// Login button open
@keyframes effectButtonDisplay {
  from {
    margin-top: 2rem;
  }
  to {
    margin-top: 0;
  }
}

// curtain effect when go to Admin
@keyframes curtain {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

// animation for Admin words
@keyframes word1{
  from{
    top: -2rem;
  }
  to{
    top: 0;
  }
}
@keyframes word2{
  from{
    top: -2rem;
  }
  to{
    top: 0;
  }
}
@keyframes word3{
  from{
    top: -2rem;
  }
  to{
    top: 0;
  }
}
@keyframes word4{
  from{
    top: -2rem;
  }
  to{
    top: 0;
  }
}
@keyframes word5{
  from{
    top: -2rem;
  }
  to{
    top: 0;
  }
}