
.footer {
  height: 6rem;
  background-color: $color3;
  color:$color4;
  .flex{
    justify-content: center;
  }
  p {
    font-size: 1.2rem;
    padding-top: 2rem;
  }
}

.subFooter {
  min-height: 30rem;
  background-color: $color1;
  margin-top:4rem;
  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    >li {
      width: 100%;
      position: relative;
      text-align: center;
      @media (min-width: $screenSm){
        width: 20%;
      }
      img.sa{
        margin-top: -5rem;
      }
      .link {
        position: absolute;
        top:50%;
        left:50%;
        z-index: 20;
        transform: translate(-50%,-50%);
        font-size: 1.6rem;
        color:$color4;
        cursor: pointer;
        &:hover {
          color: #fff;
        }
      }
    }
  }
}