
.progress {
  display: flex;
  width: 20rem;
  height: 1rem;
  overflow: hidden; 
  font-size: 1rem;
  background-color: #f0f0f0;
  border-radius: .25rem;
}

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: $color2;
  transition: width .6s ease;
}
