@use "sass:math";

// Columns & gutter
$numCols: 12;
$numGutter: 10;

@mixin cols($cols) {
  width: percentage(math.div($cols, $numCols));
  padding-left: $numGutter * .1rem;
  padding-right: $numGutter * .1rem;
}

@mixin colsNoGutter($cols) {
  width: percentage(math.div($cols, $numCols));
}

@mixin colsOffset($cols) {
  margin-left: percentage(math.div($cols, $numCols));
}


// Custom scrollbars
@mixin customScrollbar ($axis: "vertical") {
  @if ($axis == "vertical") {
    scrollbar-gutter: stable;

    &::-webkit-scrollbar {
      width: 0.3rem;
    }
  }

  @if ($axis == "horizontal") {
    &::-webkit-scrollbar {
      height: 0.5rem;
    }
  }

  &::-webkit-scrollbar-track {
    background-color: $colorTableHeader;
    border-radius: 0.5rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba($color4, 0.25);
    border-radius: 0.5rem;
  }
}

// centrar verticalmente y/o horizontalmente
@mixin center($xy:xy) {
  @if $xy == xy {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    transform: translateX(-50%) translateY(-50%);
  }
  @else if $xy == x {
    position: absolute;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
  }
  @else if $xy == y {
    position: absolute;
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
  }
}
