// experiences page
.experiences {
  text-align: center;

  .top {
    margin-bottom: 2rem;
  }

  .title {
    font-size: 2.8rem;
  }
}

// last experiences Home
.modLastExps {
  margin:4rem 0;
  text-align: center;
  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    &:not(:last-of-type) {
      @media (min-width: $screenSm){
        margin-right: 2%;
      }
    }
  }
}

// experience 
.experience {
  .content {
    &_title {
      font-size: 2.6rem;
      line-height: 1.2;
      margin-bottom: 2rem;
    }

    &_top {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }

    &_info {
      display: flex;
      justify-content: space-between;
      background-color: $colorTableHeader;
      padding: 1rem;
      margin-bottom: 2rem;

      .date {
        font-size: 1.3rem;
        line-height: 1;
        color: $color4;
      }

      .cat {
        font-size: 1.4rem;
        line-height: 1;
      }
    }

    &_desc {
      font-size: 1.4rem;
    }
  }
  
  .score {
    font-size: 2.2rem;
    line-height: 1;
    color: $color2;
    span {
      font-size: 1.4rem;
    }
  }
}
